.wrapper {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 50%;
}

.header {

}

.main {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  transform: translateZ(0);
}